.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  align-items: center;
  margin: 30px;
  padding: 40px;
  width: 75%;
  height: auto;
  border: 1px solid gray;
  color: gray;
  background: rgb(244, 244, 244);
  font-size: 20px;
  font-weight: bold;
}
.countdown {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: red;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.correct {
  font-size: 20px;
  color: green;
  font-weight: bold;
}
.incorrect {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.accuracy {
  font-size: 20px;
  font-weight: bold;
}
button {
  background-color: rgb(131, 162, 243);
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: rgb(49, 102, 234);
}
.input {
  margin-top: 20px;
  width: 550px;
  height: 50px;
  font-size: 20px;
  outline: none;
  border: 2px solid;
  border-radius: 5px;
}
.input--match {
  border-color: green;
}
.input--no-match {
  border-color: red;
}
.word {
  display: inline-block;
  margin-right: 5px;
}

.word--current {
  font-weight: bold;
}

.word--correct {
  color: green;
}

.word--incorrect {
  color: red;
}

.word--current-char {
  text-decoration: underline;
}
